.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 7%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #74512D;
  z-index: 1000;
}

.logo {
  width: 220px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid white;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link-navbar {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

/* Tablet Large */
@media (max-width: 1170px) {
  .nav-menu {
    font-size: 15px;
  }
  .logo {
    width: 100px;
  }
  .nav-connect {
    padding: 15px 30px;
    font-size: 18px;
  }
}

/* Tablet */
@media (max-width: 1050px) {
  .nav-menu {
    font-size: 15px;
    gap: 40px;
  }
  .logo {
    width: 80px;
  }
  .nav-connect {
    padding: 10px 20px;
    font-size: 17px;
  }
}

/* Mobile Large */
@media (max-width: 880px) {
  .logo {
    margin-right: 40px;
  }
  .nav-menu {
    gap: 30px;
  }
  .nav-connect {
    margin-left: 30px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 5%;
    width: 100vw;
    box-sizing: border-box;
  }

  .logo {
    width: 60px;
    margin-right: 20px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: absolute;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    right: -300px;
    gap: 30px;
    background-color: #1f0016;
    width: 300px;
    height: 100vh;
    z-index: 2000;
    transition: right 0.5s ease-in-out;
    overflow-y: auto;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    font-size: 24px;
    padding: 15px 20px;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .navbar {
    padding: 8px 4%;
  }

  .logo {
    width: 50px;
  }

  .nav-mob-open {
    right: 20px;
    width: 25px;
  }

  .nav-mob-close {
    top: 15px;
    left: 15px;
    width: 25px;
  }

  .nav-menu {
    width: 250px;
    right: -250px;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    font-size: 20px;
    padding: 12px 15px;
  }
  .anchor-link-navbar{
    position: relative;
    top: 55px;
  }
}